@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@layer base {
  li {
    @apply list-inside list-disc;
  }
}

@layer components {
  section.image {
    transform: translateZ(-1px);
  }

  .prose-body {
    @apply prose-lg dark:prose-invert md:prose-xl lg:prose-2xl;
  }
}
