@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@layer base {
  li {
    @apply list-inside list-disc;
  }
}

@layer components {
  section.image {
    transform: translateZ(-1px);
  }

  .prose-body {
    @apply prose prose-lg prose-slate duration-300 ease-in-out prose-a:text-teal-600 prose-a:no-underline hover:prose-a:text-teal-700 md:prose-xl xl:prose-2xl;
  }
}
