@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@layer components {
  h1 {
    @apply text-6xl font-light tracking-tight text-woody-brown-500;
  }

  h2 {
    @apply text-4xl font-light tracking-tight text-woody-brown-400;
  }

  section.image {
    transform: translateZ(-1px);
  }
}
